%img{:src => "http://www.ninjakelley.com/wp-content/uploads/2010/12/149033_10150297610830023_610660022_15502187_1617806_n.jpg"}/
%h1 Let's get physical!

/ = link_to "New Exercise", new_exercise_path, :remote => :true, :data => {"reveal-id" => "modal"}, :class => "large button"
/ #modal.reveal-modal

= link_to "New Exercise", new_exercise_path


%div#accordion
  - @current_user.exercises.each do |exercise|
    %h3= exercise.activity
    %div
      %ul
        %li
          Value:
          = "#{exercise.value} #{exercise.units}"
        %li
          Date Completed:
          = exercise.completed
          = link_to 'Edit', edit_exercise_path(exercise)
          = link_to 'Destroy', exercise, method: :delete, data: { confirm: 'Are you sure?' }